@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}

/* Adjustments for larger screens */
@media (min-width: 1024px) {
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-40%); /* Smaller distance for larger screens */
    }
  }

  .animate-marquee {
    animation-duration: 8s; /* Slightly faster speed for larger screens */
  }
}

/* Adjustments for medium screens */
@media (max-width: 768px) {
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-30%); /* Smaller distance for larger screens */
    }
  }
  .animate-marquee {
    animation-duration: 10s; /* Slower speed for smaller screens */
  }
}

/* Adjustments for extra-small screens */
@media (max-width: 480px) {
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .animate-marquee {
    animation-duration: 10s; /* Even slower for extra-small screens */
  }
}
